@model IList<MyShop.Core.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@for (int i=0 ; i<Model.Count ; i++)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
